
USE [master]
GO
/****** Object:  Database [QL_PKDT]    Script Date: 8/2/2023 9:37:32 AM ******/
CREATE DATABASE [QL_PKDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_PKDT', FILENAME = N'D:\SQL\New folder\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_PKDT.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_PKDT_log', FILENAME = N'D:\SQL\New folder\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_PKDT_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_PKDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_PKDT]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[SOHD] [nchar](15) NOT NULL,
	[MASP] [nchar](15) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[CHIETKHAU] [int] NULL,
	[THANHTIEN] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[SOPHIEUNHAP] [nchar](15) NOT NULL,
	[MASP] [nchar](15) NOT NULL,
	[SL] [int] NULL,
	[GIANHAP] [int] NULL,
	[CHIETKHAU] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MANV] [nchar](15) NULL,
	[MASP] [nchar](15) NULL,
	[TENSP] [nvarchar](30) NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](15) NOT NULL,
	[NGAYTAO] [date] NULL,
	[TONGTIEN] [int] NULL,
	[TENKH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](20) NULL,
	[SDT] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISP] [nchar](15) NOT NULL,
	[TENLOAISP] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](15) NOT NULL,
	[TENNCC] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](20) NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](15) NOT NULL,
	[TENNV] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [char](10) NULL,
	[CHUCVU] [nvarchar](20) NULL,
	[TENDN] [nvarchar](20) NULL,
	[MATKHAU] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SOPHIEUNHAP] [nchar](15) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[MANV] [nchar](15) NULL,
	[MANCC] [nchar](15) NULL,
	[GHICHU] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 8/2/2023 9:37:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](15) NOT NULL,
	[TENSP] [nvarchar](30) NOT NULL,
	[DVT] [nchar](5) NULL,
	[SLTON] [int] NULL,
	[GIANHAP] [int] NULL,
	[GIABAN] [int] NULL,
	[MALOAISP] [nchar](15) NULL,
	[MANCC] [nchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTHOADON] ([SOHD], [MASP], [SOLUONG], [GIABAN], [CHIETKHAU], [THANHTIEN]) VALUES (N'HD01           ', N'SP001          ', 10, 100000, 1000, 100000)
INSERT [dbo].[CTHOADON] ([SOHD], [MASP], [SOLUONG], [GIABAN], [CHIETKHAU], [THANHTIEN]) VALUES (N'HD01           ', N'SP001          ', 10, 100000, 1000, 100000)
INSERT [dbo].[CTHOADON] ([SOHD], [MASP], [SOLUONG], [GIABAN], [CHIETKHAU], [THANHTIEN]) VALUES (N'HD01           ', N'SP001          ', 10, 100000, 1000, 100000)
INSERT [dbo].[CTPHIEUNHAP] ([SOPHIEUNHAP], [MASP], [SL], [GIANHAP], [CHIETKHAU]) VALUES (N'PN001          ', N'SP001          ', 10, 100000, 1000)
INSERT [dbo].[CTPHIEUNHAP] ([SOPHIEUNHAP], [MASP], [SL], [GIANHAP], [CHIETKHAU]) VALUES (N'PN001          ', N'SP001          ', 10, 100000, 1000)
INSERT [dbo].[CTPHIEUNHAP] ([SOPHIEUNHAP], [MASP], [SL], [GIANHAP], [CHIETKHAU]) VALUES (N'PN001          ', N'SP001          ', 10, 100000, 1000)
INSERT [dbo].[HOADON] ([SOHD], [NGAYTAO], [TONGTIEN], [TENKH], [DIACHI], [SDT]) VALUES (N'               ', CAST(N'2023-08-01' AS Date), 0, N'gh', N'gh', N'123       ')
INSERT [dbo].[HOADON] ([SOHD], [NGAYTAO], [TONGTIEN], [TENKH], [DIACHI], [SDT]) VALUES (N'HD01           ', CAST(N'2023-08-08' AS Date), 100000, N'T', N'BĐ', N'123       ')
INSERT [dbo].[HOADON] ([SOHD], [NGAYTAO], [TONGTIEN], [TENKH], [DIACHI], [SDT]) VALUES (N'HD225          ', CAST(N'2023-08-01' AS Date), 0, N'gh', N'fg', N'123       ')
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP]) VALUES (N'L001           ', N'Dây Sạc')
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP]) VALUES (N'L002           ', N'Kính Cường Lực')
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP]) VALUES (N'L003           ', N'Ốp Lưng')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL]) VALUES (N'NCC01          ', N'Apple', N'Quận 1', N'65466514  ', N'apple@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL]) VALUES (N'NCC02          ', N'CellPhoneS', N'Quận 12', N'54986151  ', N'cellphones@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL]) VALUES (N'NCC03          ', N'SamSung', N'Quận 1', N'91615654  ', N'samsung@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDT], [CHUCVU], [TENDN], [MATKHAU]) VALUES (N'NV001          ', N'LÊ TRẦN TIẾN', N'NAM', CAST(N'2002-08-08' AS Date), N'978264832 ', N'Quản Lý', N'Tien', N'123')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDT], [CHUCVU], [TENDN], [MATKHAU]) VALUES (N'NV002          ', N'LÊ TRẦN TIÊN', N'NAM', CAST(N'2002-08-08' AS Date), N'1236846925', N'Nhân Viên', N'Tien', N'123')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDT], [CHUCVU], [TENDN], [MATKHAU]) VALUES (N'NV003          ', N'MAI HỮU TÍN', N'NAM', CAST(N'2002-04-15' AS Date), N'978264832 ', N'Nhân Viên', N'Tin', N'123')
INSERT [dbo].[PHIEUNHAP] ([SOPHIEUNHAP], [NGAYNHAP], [MANV], [MANCC], [GHICHU]) VALUES (N'PN001          ', CAST(N'2002-08-08' AS Date), N'NV001          ', N'NCC01          ', NULL)
INSERT [dbo].[PHIEUNHAP] ([SOPHIEUNHAP], [NGAYNHAP], [MANV], [MANCC], [GHICHU]) VALUES (N'PN002          ', CAST(N'2002-08-08' AS Date), N'NV001          ', N'NCC01          ', NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [SLTON], [GIANHAP], [GIABAN], [MALOAISP], [MANCC]) VALUES (N'SP001          ', N'Dây sạc', N'Cái  ', 10, 150000, 200000, N'L001           ', N'NCC01          ')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [SLTON], [GIANHAP], [GIABAN], [MALOAISP], [MANCC]) VALUES (N'SP002          ', N'Sạc dự phòng', N'Cái  ', 30, 550000, 600000, N'L001           ', N'NCC01          ')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [SLTON], [GIANHAP], [GIABAN], [MALOAISP], [MANCC]) VALUES (N'SP003          ', N'Ốp lưng', N'Cái  ', 50, 50000, 100000, N'L002           ', N'NCC02          ')
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([SOPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([SOPHIEUNHAP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GH_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GH_NV]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GH_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GH_SP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_NV]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LSP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_LSP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_NCC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]='NU' OR [GIOITINH]='NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_DVT] CHECK  (([DVT]=N'Cái' OR [DVT]=N'Chiếc'))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_DVT]
GO
USE [master]
GO

